@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@700&family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  @apply bg-[#f1f5f1]  min-h-screen scroll-smooth;
}

#root {
  @apply bg-[#f1f5f1]  h-full relative;
}

.container {
  @apply max-w-[1400px] mx-auto px-4 sm:px-10;
}
.search {
  @apply input w-full h-10  mx-auto  border-2 rounded-md border-brand-blue max-w-full  sm:max-w-sm focus:outline-0 text-sm font-semibold bg-transparent text-slate-900 placeholder:text-brand-blue placeholder:font-semibold px-3;
}
.search_btn {
  @apply absolute  right-0 bg-brand-blue h-full w-10 sm:w-14 sm:max-w-[56px] rounded-e-md max-w-[40px] flex items-center justify-center hover:bg-brand-blue/80 duration-300;
}

/*=================Form styles start here =========== */
.form_input {
  @apply py-2 border-0 border-b-[1px] border-slate-300 placeholder:font-content placeholder:font-medium placeholder:text-sm  focus:border-brand-blue focus:outline-none px-2 w-full text-sm text-slate-900 font-content font-semibold;
}

/*========tostify design==========*/
.Toastify__toast {
  @apply bg-brand-blue;
}
.Toastify__toast-body {
  @apply text-white;
}
.Toastify__close-button > svg {
  @apply text-white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.slick-dots li {
  @apply bg-white rounded-full;
}
.post_container .slick-list {
  @apply pb-11 sm:pb-16;
}
.post_container .slick-slide {
  @apply p-3;
}

.chats_container {
  height: calc(100vh - 75px);
}
.message_container {
  height: calc(100vh - 200px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
